
.icon-hover {
  cursor: pointer;
  &:hover {
    background-color: $base-hover-color;
  }
}

.i-icon:focus-visible {
  border: none !important;
  outline: none !important;
}

.clearfix {
  @include clearfix;
}

.flexcenter {
  @include flexcenter;
}

.flex {
  @include flexfield;
  // display: flex;
}

.flex-1 {
  flex: 1;
}

.w50 {
  width: 50%;
}

.mr5 {
  margin-right: 5px;
}

.blue {
  color: $color-blue;
}

.green {
  color: $color-green;
}

.red {
  color: $color-red;
}

.split-line {
  height: 20px;
  background: $base-content-bg-color;
}

.content {
  padding: 0 30px;
}

.container {
  padding: 20px 0;
}

.input-base {
  flex: 1;
}