
.icon-hover {
  cursor: pointer;
  &:hover {
    background-color: $base-hover-color;
  }
}

.i-icon:focus-visible {
  border: none !important;
  outline: none !important;
}

.clearfix {
  @include clearfix;
}

.flexcenter {
  @include flexcenter;
}

.flex {
  display: flex;
}

.mr5 {
  margin-right: 5px;
}

// .table-base {
//   .table-base-header-handler {
//     .el-form-item {
//       margin-bottom: 0;
//     }
//   }
//   .input-base {
//     @include inputfield;
//   }
// }

.el-form {
  &:not(.el-form--inline) {
    .el-form-item__content > div{
      width: 100%;
    }
  }
  ::deep(.el-form--inline .el-form-item) {
    width: calc(50% - 12px) !important;

    .el-form-item__content > div{
      width: 100%;
    }
  }
}
