// $base-color-primary: #7e9cff;
// $--colors:
// (
//     'primary': (
//         'base': $base-color-primary,
//     ),

// );

// @forward "element-plus/theme-chalk/src/common/var.scss" with (
//   $colors: (
//     "primary": (
//       "base": green,
//     ),
//   ),
// );
$--color-primary: #7e9cff;
// Icon font path, required
$--font-path: '~element-plus/lib/theme-chalk/fonts';

// Apply overrided variables in Element UI
@import 'element-plus/theme-chalk/src/common/var.scss';

// The :export directive is the magic sauce for webpack
// https://mattferderer.com/use-sass-variables-in-typescript-and-javascript
:export {
  theme: $--color-primary;
}
