:deep(.el-form--inline .el-form-item) {
  margin-right: 12px;
}

:deep(.fold-unfold) {
  margin-right: $base-padding;
}

:deep(.el-tabs__item) {
  display: inline-flex;
  align-items: center;
}

:deep(.el-dialog__header) {
  border-bottom: 1px solid #ccc;
  margin-right: 0 !important;
}

:deep(.el-dialog__headerbtn) {
  top: 0;
}

.el-dialog__body {
  max-height: 700px;
  overflow-y: auto;
}