:root {
  --el-color-primary: #293246;
  --el-color-primary-dark-2: #40495e;
  --el-color-primary-light-3: #40495e;

  --el-color-success: #43a9be;
  --el-color-success-dark-2: #4fb2c6;
  --el-color-success-light-3: #4fb2c6;

  --el-color-warning: #f67621;
  --el-color-warning-dark-2: #f6863b;
  --el-color-warning-light-3: #f59453;
  
  --el-color-danger: #f3424b;
  --el-color-danger-dark-2: #fa4d56;
  --el-color-danger-light-3: #fa4d56;
}
