:root {
  --el-color-primary: #6c8eff;
  --el-color-primary-dark-2: #7e9cff;
  --el-color-primary-light-3: #89a4fd;

  --el-color-success: #43a9be;
  --el-color-success-dark-2: #4fb2c6;
  --el-color-success-light-3: #4fb2c6;

  --el-color-warning: #f67621;
  --el-color-warning-dark-2: #f6863b;
  --el-color-warning-light-3: #f59453;
  
  --el-color-danger: #f1545c;
  --el-color-danger-dark-2: #f66f75;
  --el-color-danger-light-3: #f76068;
}
