@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin inputfield {
  display: flex;
  align-items: center;
  margin-right: 10px;
}